@page "/tictacAI"
@inject TTLogic Logic


@*<center>*@
    <h3>Play against Computer</h3>
@*<div class="board">
    <table style="max-width:320px;">
    @for (int i = 0; i < 3; i++)
    {
        int x = i;
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                int y = j;
                <td @onclick="() => Logic.Mark(x, y, Logic.PlayerId)">
                    <img src="icons/@(Logic.GameField[x, y]).png" />
                    </td>
            }
            </tr>
    }
    </table>
</div>
<br />

<div class="card-subtitle">Next move player @Logic.PlayerId</div>
<br />

<button class="btn btn-primary" style="margin:10px;" @onclick="Logic.MoveAI"> Confirm</button>
<button class="btn btn-danger" style="margin:10px;" @onclick="Logic.ResetAI">Reset</button>

@if (Logic.InvalidMove)
{
    <div class="validation-message">
        Not valid move!
    </div>
}

@if(Logic.Winner && Logic.PlayerId == 1) // declare winner
{
            <div class="validation-message">
                Congrats, you beat the AI!
        </div>

    }
    else if(Logic.Winner)
    {
        <div class="validation-message">
                Game over. AI won.
        </div>
    }

</center>*@
