@page "/tictac"
@inject TTLogic Logic


<center>
    <h3>Tic Tac Toe</h3>
<div class="board">
    <table style="max-width:320px;">
    @for (int i = 0; i < 3; i++)
    {
        int x = i;
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                int y = j;
                <td @onclick="() => Logic.Mark(x, y, Logic.PlayerId)">
                    <img src="icons/@(Logic.GameField[x, y]).png" />
                    </td>
            }
            </tr>
    }
    </table>
</div>
<br />

<div class="card-subtitle">Next move player @Logic.PlayerId</div>
<br />

<button class="btn btn-primary" style="margin:10px;" @onclick="Logic.ConfirmMove"> Confirm</button>
<button class="btn btn-danger" style="margin:10px;" @onclick="Logic.Reset">Reset</button>

@if (Logic.InvalidMove)
{
    <div class="validation-message">
        Not valid move!
    </div>
}

@if(Logic.Winner) // declare winner
{
    <div class="validation-message">
        We have a winner! Player @Logic.PlayerId wins!
    </div>
}

</center>
