@page "/tictac"
@inject TTLogic Logic
@inject TTBoard Board


<center>
    <h3>Player vs Player</h3>
<div class="board">
    <table style="max-width:320px;">
    @for (int i = 0; i < 3; i++)
    {
        int x = i;
        <tr>
            @for (int j = 0; j < 3; j++)
            {
                int y = j;
                <td @onclick="() => Logic.Mark(x, y, Board.PlayerID)">
                    <img src="icons/icon@(Board.GameField[x, y]).png" />
                    </td>
            }
            </tr>
    }
    </table>
</div>
<br />

<div class="card-subtitle">Next move player @((PlayerPiece)Board.PlayerID)</div>
<br />

<button class="btn btn-primary" style="margin:10px;" @onclick="Logic.ConfirmMove"> Confirm</button>
<button class="btn btn-danger" style="margin:10px;" @onclick="Board.Reset">Reset</button>

@if (Logic.InvalidMove)
{
    <div class="validation-message">
        Not valid move!
    </div>
}

@if(Board.Winner) // declare winner
{
<div class="validation-message">
    Player @((PlayerPiece)Board.PlayerID) wins!
</div>
}

</center>
